* {
  box-sizing: border-box;
}


body {
  margin-top: 20px;
  padding: 0;
  font-family:'Courier New', Courier, monospace;
  color:aqua;
  line-height: 1.5;
  background-color: black;
}
/*.logo img{
  height:50px;
  margin-left: 5px;
  margin-top: 5px;
}*/
header {
  display:flex;
  height:100%;
  width:100%;
  background-color: black;
}
header h1{
  align-items: flex-start;
}

nav ul{
  display:flex;
}
ul li {
  list-style: none;
  margin-right:40px;
  justify-content: flex-end;
}
header a {
  color:aqua;
  text-decoration:none;
}
header a:hover{
  color:azure;
}

.hero-banner{
  background-image:url(https://lh3.googleusercontent.com/PbXmq8wbQDuMg1Jlv0VLRhNBD7WlgT7OzAbwi_VR8VxeyD6qhydaKvLR3EM79VqgCwmIIc0kO4vt9Sg=w2880-h1200-p-l90-rj);
  background-repeat: no-repeat;
  padding: 170px;
}
.hero-banner .container{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.526);
}
/* portfolio section*/
.page-wrapper {
  width:100%;
  height: 100%;
  padding:0px;
  margin:20px;
  display:flex;
  flex-direction:column;
}
/* profile picture*/
#about img{
max-height: 170px;
align-items: center;
}
/*main portfolio pages*/
.page-section {
  margin:40px;
  display:flex;
  align-items:center;
  
}
.page-section h2{
  width:300px;
  justify-content:flex-start;
}
/* first (larger) image*/
.about-content{
  align-self: stretch;
  padding: 30px;
}
#work h2 {
  justify-content: flex-start;
}
/* four other images(links)*/
.lifeInBoxes {
  width:100%;
  justify-content: center;
}
.lifeInBoxes img{
  max-width:50%;
  justify-content: baseline;
}
/* container for other flex containers*/
.box{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}
#box1 img{
 justify-content:center;
 max-width: 100%
}
/* first two pages*/
.first-row{
  display:flex;
  width:100%;
  align-content:center;
}
/* last two pages*/
.second-row{
  display:flex;
  width:100%;
  align-content:center;
}
#box2 #box3{
  max-width:50%;
}

/* portfolio boxes and text over images*/
.box {
  position: relative;
  text-align: center;
  color: white;
  border: 5px solid aqua;
  padding: 10px;
  margin: 20px;
}

/* Bottom left text over links to portfolio pages */
.box h3 {
  position: absolute;
  bottom: 16px;
  right: 3px;
  padding: 5px;
}
/* email contact*/
#contact a{
  color: aqua;
  text-decoration: none;
  align-items: center;
}





